/*
 * === Places class style ===
 */

/* Places style */
.places {
    margin-top: 60px;
    text-align: center;
  }
  
  /* Article style */
  .places article {
    width: 390px;
    max-width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    display: inline-block;
    text-align: left;
    vertical-align: text-top;
  }
  
  /* Heading 1 style */
  .places h1 {
    font-size: 30px;
    text-align: left;
  }
  
  /* Heading 2 style */
  .places article h2 {
    font-size: 30px;
    text-align: center;
  }
  
  /* name_and_price class styles */
  .places article .name_and_price {
    height: 60px;
    position: relative;
  }
  
  /* price_by_night class styles */
  .places article .name_and_price .price_by_night {
    color: #ff5a5f;
    border: 4px solid #ff5a5f;
    border-radius: 50%;
    height: 60px;
    min-width: 60px;
    font-size: 30px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    right: 0;
  }
  
  /* information styles */
  article .information {
    height: 80px;
    margin: 16px 0;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .max_guest,
  .number_rooms,
  .number_bathrooms {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* max_guest class styles */
  article .information .max_guest {
    background: url("../images/icon_group.png") no-repeat center;
  }
  
  /* number_rooms class styles */
  article .information .number_rooms {
    background: url("../images/icon_bed.png") no-repeat center;
  }
  
  /* number_bathrooms class styles */
  article .information .number_bathrooms {
    background: url("../images/icon_bath.png") no-repeat center;
  }
  
  /* User class styles */
  article .user {
    margin-bottom: 4px;
  }
  
  /* Footer styles */
  footer {
    position: relative;
  }
  
  /* Amenities styles */
  
  .amenities {
    margin-left: 40px;
  }
  
  /* Styles for amenities section */
  /* Amenities section heading */
  article .amenities h2 {
    font-size: 16px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 14px;
    padding-bottom: 10px;
    text-align: left;
  }
  
  /* Margin for amenities section */
  article .amenities {
    width: 100%;
    margin: 40px 0 0 0;
  }
  
  /* List style for amenities */
  .amenities ul {
    list-style: none;
  }
  
  /* List items for amenities */
  .amenities ul.amenities-list li {
    padding-left: 26px;
    margin-bottom: 10px;
  }
  
  /* Background images for different amenities */
  .amenities ul li {
    background-size: contain;
  }
  .amenities ul li.tv {
    background-image: url("../images/icon_tv.png");
    background-repeat: no-repeat;
  }
  .amenities ul li.wifi {
    background-image: url("../images/icon_bed.png");
    background-repeat: no-repeat;
  }
  .amenities ul li.pet {
    background-image: url("../images/icon_pets.png");
    background-repeat: no-repeat;
  }
  
  /* Last child margin */
  .amenities ul li:last-child {
    margin: 20px 0 30px 0;
  }
  
  /* Heading style for amenities list item */
  .amenities ul li h3 {
    font-size: 14px;
    margin-bottom: 8px;
  }
  
  /* Paragraph style for amenities list item */
  .amenities ul li p {
    font-size: 12px;
  }
  

  @media (max-width: 700px) {

  
    .places article {
      width: 88%;
      margin: 20px 0;
    }

    .places article h2{
        text-align: left;
    }
  }